@using NoteTaking.Data.Models;
@model ApplicationUser

<div class="profile-grid">
    <div class="data-info">
        <div>
            <label>Username</label>
            <input disabled class="data" value="@Model.UserName" />
        </div>
        <div>
            <label>Name</label>
            <input disabled class="data" value="@Model.FirstName @Model.LastName" />
        </div>
        <div>
            <label>E-mail</label>
            <input disabled class="data" value="@Model.Email" />
        </div>
    </div>
    <div class="picture-info">
        <img class="profile-pictire" src="@Model.ProfileImageURL" width="128" height="128" />
    </div>
</div>