@using NoteTaking.Web.Common;
@using NoteTaking.Web.ViewModels;
@model List<NoteAllViewModel>
@{
    ViewData["Title"] = "All";
}

<partial name="_Notifications" />

<br />
<div class="all-notes-system">
    <div class="note-system-top">
        <form style="display:inline-block">
            <input type="submit" class="create-button" asp-action="Index" asp-controller="Home" value="Go back" />
        </form>
        <form method="get" asp-action="All" asp-controller="Home" style="display:inline-block">
            <div class="custom-select">
                <select id="sortOption" name="sortOption" onchange="this.form.submit()">
                    <option value="None">Select sort</option>
                    <option value="Latest">Latest</option>
                    <option value="Oldest">Oldest</option>
                    <option value="Title">Title</option>
                </select>
                <label>Sorted by: @SelectSortBoxInput._sortOption</label>
            </div>
        </form>
    </div>
    <br />
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th width="300px"> </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @(
                                i + 1
                                )
                        </td>
                        <td>@Model[i].Title</td>
                        <td>@Model[i].Date</td>
                        <td>
                            <div class="buttons-grid">
                                <a class="btn btn-danger" type="submit" asp-action="Delete" asp-controller="Home" asp-route-id="@Model[i].Id"> <i class="bi bi-trash-fill"></i> Delete</a>
                                <a class="btn btn-warning" type="submit" asp-action="Edit" asp-controller="Home" asp-route-id="@Model[i].Id">Edit</a>
                                <a class="btn btn-info" type="submit" asp-action="Details" asp-controller="Home" asp-route-id="@Model[i].Id">Details</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>Oops... You don't have any notes</h2>
    }
</div>

@*<script>
    // set the selected option based on the SortOption property
    var sortOption = "Select";
    document.getElementById("sortOption").value = sortOption;
</script>*@
